@import ui_bibz

.code
  background-color: #efefef

.new_app .col-md-6:nth-child(odd)
  padding-left: 0px

.new_app .col-md-6:nth-child(even)
  padding-right: 0px

.container_ports
  width: 170px

.pageheader
  img
    margin: 20px
  margin-top: -20px
  background-color: #efefef
  border-bottom: 1px solid #e7e7e7

.navbar-brand
  img
    width: 60px
    margin-top: -10px
    float: left
    margin-right: 10px

