@import ui_bibz

.code
  background-color: #efefef

.container_ports
  width: 170px

.pageheader
  img
    margin: 20px
  margin-top: -20px
  background-color: #efefef
  border-bottom: 1px solid #e7e7e7

.navbar-brand
  img
    width: 60px
    margin-top: -10px
    float: left
    margin-right: 10px

.upstart-action
  width: 70px

